.dcl-row {
    display: table-row;
}

.dcl-row > * {
    display: table-cell;
    vertical-align: top;
}

.dcl-row > :first-child {
    padding-right: 1em;
    border-right: 1px solid #ddd;
    text-align: right;
    width: 160px;
}

.dcl-row > label:after {
    content: " :";
}

.dcl-checklist ul {
    list-style-type: none;
    padding: 0;
}

.dcl-row .description {
    color: #888;
    font-style: italic;
    font-size: smaller;
    margin: 0 0 0.5em 0;
}
.dcl-row .dcl-wrapper {
    padding-bottom: 10px;
}

.dcl-row table {
    /* border-collapse: collapse; */
    border-spacing: 1px;
    background: #edf;
    margin-left: -1px;
}

.dcl-row th, .dcl-row td {
    padding: 0;
}

.dcl-row tr {
}

.dcl-row th {
    font-weight: normal;
    text-align: left;
    font-size: smaller;
}

.dcl-row td {
    vertical-align: top;
}

.dcl-row input, .dcl-row select,.dcl-row textarea {
    margin: 0;
}

.dcl-row select {
    padding: 1px;
}

.dcl-row fieldset {
    border: none;
    padding: 0;
}
