/* Modification du style form-table standard de WordPress */
.form-table tbody th[scope=row] {
    font-weight: bold;
}


/* Nouveau style field-table */
.field-table {
    table-layout: fixed;
    width: 99%; /* comme pour input.large-text */
    border-collapse: collapse;
/*    background: yellow; */
}

.field-table tr {
    vertical-align: top;
}

/* Corps de la table */
.field-table tbody td {
    padding: 0;
    line-height: normal;
    vertical-align: top;
}
.field-table td+td {
    padding-left: 10px; /* espace horizontal entre deux cellules */
}

/* Entête de la table */
.field-table thead th {
    padding: 0 0 0 5px; /* left:2px pour compenser le border-left des inputs */
    width: auto;
/*    font-size: smaller; */
    line-height: normal;
}

.field-table th+th {
    padding-left: 15px;
    /* 10px = espace standard entre cellules + 2 px pour border-left input */
}

/* footer de la table */
.field-table tfoot td {
    padding: 0 0 0 5px; /* left:2px pour compenser le border-left des inputs */
/*    width: auto; */
    line-height: normal;
}

.field-table tfoot td+td {
    padding-left: 15px;
    /* 10px = espace standard entre cellules + 2 px pour border-left input */
}

.field-table .description {
/*    font-size: smaller; */
    margin: 0;
}

button.cloner {
    padding: 2px;
/*    height: 16px; */
    background: transparent url('add-grey.png') left center no-repeat ;
    padding-left: 20px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 5px;
}

button.cloner:hover {
/*    background-image: url('add.png'); */
    border-color: #ccc;
}

/*
    Ajuste les styles de Selectize pour que ça s'intègre dans le BO WordPress.
*/
.selectize-control{
    line-height: 0;
}
.selectize-input {
  padding: 3px;
  margin: 0;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-size: 14px;
}

.selectize-input.focus, .selectize-dropdown {
    border-color: #aaa;
}

/*
    wordpress a une règle générique ".highlight" qui met la zone.
    (dans wp-admin.css et dans colors-fresh.css)
    on essaie de corriger içi
*/
.selectize-dropdown [data-selectable] .highlight {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    border: 0;
}

/*
    Styles pour les lookups de types thesaurus.
*/
.selectize-dropdown-content {
    max-height: 400px;
}

.selectize-dropdown .des, 
.selectize-dropdown .nondes {
    font-size: 13px;
}

.selectize-dropdown .des .term, /* le nom du descripteur */
.selectize-dropdown .US b {         /* le nom d'un EM */
    font-weight: bold;
}

.selectize-dropdown .nondes .term, /* le nom d'un non-des */ 
.selectize-dropdown .UF b {            /* le nom d'un EP */
    font-style: italic;
    font-weight: normal;
    color: #888;
}

.selectize-dropdown .des div,       /* un bloc de relations */
.selectize-dropdown .nondes div {
    padding-left: 2.5em;
}

.selectize-dropdown .des i,    /* le libellé d'un bloc de relations */
.selectize-dropdown .nondes i {
    font-style: normal;
    margin-left: -2em;
    float: left;
    text-transform: uppercase;
    color: #aaa;
}

.selectize-dropdown .BT b { /* TG */ 
    color: #008;
}

.selectize-dropdown .NT b { /* TS */ 
    color: #800;
}

.selectize-dropdown .RT b { /* TA */ 
    color: #080;
}
/*
.selectize-dropdown .description b,
.selectize-dropdown .SN b 
{
    font-weight: normal;
    font-size: 12px;
}
*/

.selectize-dropdown .description,
.selectize-dropdown .SN 
{
    background: #ddd;
    color: #999;
    border-radius: 6px;
    padding: 0 0.5em;
    margin-left: 0.5em;
}

.selectize-dropdown b[rel]:hover {
    text-decoration: underline;
}